# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Saved models and artifacts
*.pkl
*.joblib

# Virtual environments
env/
venv/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# MacOS files
.DS_Store

# Logs
*.log

data/creditcard.csv

# System/editor temp files
*.swp
*.swo
